.App{
  height: 100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  background: #e7e6e6;
}
.counter{
width:350px;
height:380px;
display:flex;
align-items:center;
justify-content: center;
flex-direction: column;
border:12px solid #ededed;
border-radius: 50%;
background: linear-gradient(
  145deg, #d5d5d5, #fefefe
);
box-shadow: 6px 6px 8px #dcdcdc,
            -6px -6px 8px #fefefe,
           inset 6px 6px 8px #dcdcdc,
           inset -6px -6px 8px #fefefe;

}
.align{
  display:flex;
  flex-direction: row;

}
.Button{
  box-shadow: 6px 6px 8px #dcdcdc,
            -6px -6px 8px #fefefe,
           inset 6px 6px 8px #dcdcdc,
           inset -6px -6px 8px #fefefe;
}